<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project FEND Capstone</title>
</head>

<body>
	<header class="header">
		<div class="header_left">
			<img src="/logo.svg" alt="logo_header" id="logo_header">
			<ul class="navlink_header">
				<li class="navlink_item"><a href="/" class="active">Homepage</a></li>
				<li class="navlink_item"><a href="pages/blog_post.html">Blog Posts</a></li>
			</ul>
		</div>
		<div class="header_right">
			<!-- <label for="search_header" class="search_header"><input type="text" id="search_header"><button
					id="search_button">Search</button></label> -->
		</div>
	</header>
	<main class="container">
		<div class="banner">
			<img src="https://via.placeholder.com/1000x300.webp/C5C5C5/FFFFFF/?text=Banner" alt="This is banner" id="banner">
		</div>

		<section class="main_homepage">
			<div class="flex flex-col" id="flex_form_container">
				<form id="main_form" class="flex flex-col">
					<div class="flex" id="flex_wrap_form">
						<label for="location">Location
							<input type="text" id="location" name="location">
						</label>
						<label for="date">Choose Date
							<input type="date" id="date" name="date">
						</label>
					</div>
					<button id="input_submit" type="submit">Check wether</button>
				</form>
				<div class="main_homepage_cards" id="main_homepage_card">
				</div>
			</div>

			<div class="main_homepage_sidebar">
				<p class="newPost">New Post</p>
				<ul class="sidebar_post_list">
					<li><a href="#">Post Number 1</a></li>
					<li><a href="#">Post Number 2</a></li>
					<li><a href="#">Post Number 3</a></li>
					<li><a href="#">Post Number 4</a></li>
					<li><a href="#">Post Number 5</a></li>
					<li><a href="#">Post Number 6</a></li>
					<li><a href="#">Post Number 7</a></li>
				</ul>
			</div>
			</div>
		</section>

	</main>
	<footer><span>Copyright 2023 by TruongDN2@fsoft.com.vn</span></footer>
	<div class="loader hidden">
		<svg class="ring" viewBox="25 25 50 50" stroke-width="5">
			<circle cx="50" cy="50" r="20" />
		</svg>
	</div>
</body>


</html>