<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project FEND Capstone</title>
</head>
<body>
	<header class="header">
		<div class="header_left">
			<img src="/logo.svg" alt="logo_header" id="logo_header">
			<ul class="navlink_header">
				<li class="navlink_item"><a href="/" class="active">Homepage</a></li>
				<li class="navlink_item"><a href="pages/blog_post.html">Blog Posts</a></li>
			</ul>
		</div>
		<div class="header_right">
			<label for="search_header" class="search_header"><input type="text" id="search_header"><button
					id="search_button">Search</button></label>
		</div>
	</header>
	<main class="container" >
		<div class="banner">
			<img src="https://via.placeholder.com/1000x300.webp/C5C5C5/FFFFFF/?text=Banner" alt="This is banner" id="banner">
		</div>

		<section class="main_homepage" id="_788be6" >
			<div class="main_homepage_cards">
				<div class="card_homepage">
					<div class="card_header">
						<img src="https://via.placeholder.com/150.webp/C5C5C5/FFFFFF/?text=Image" alt="card Image"
							class="card_image">
						<div class="card_header_right">
							<h2 class="card_header_right_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis,
								iste Lorem ipsum dolor sit amet
								consectetur adipisicing elit. Accusamus, accusantium?</h2>
							<div class="card_header_right_detail">
								<strong class="strong">Feburary 19, 2023</strong>
								<span class="separate">-</span>
								<em class="em">1 min read</em>
							</div>
						</div>
					</div>
					<p class="card_content">
						<em class="em">Lorem, ipsum dolor sit amet</em> consectetur adipisicing elit. Quam sequi perspiciatis eius
						<strong class="strong">assumenda</strong>, atque cum
						neque aborum. Laborum, <u class="u">in fuga.</u>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dolor
						mollitia possimus in atque earum autem omnis iste illum magni deserunt? Lorem ipsum dolor sit amet
						consectetur adipisicing elit. Doloribus voluptate nihil impedit quisquam cumque. Perferendis sapiente quos
						sunt odio vero.
					</p>
					<button class="card_footer">
						<a href="/pages/blog_post.html" class="continue_reading">Continue Reading >></a>
					</button>
				</div>
				<div class="card_homepage">
					<div class="card_header">
						<img src="https://via.placeholder.com/150.webp/C5C5C5/FFFFFF/?text=Image" alt="card Image"
							class="card_image">
						<div class="card_header_right">
							<h2 class="card_header_right_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis,
								iste Lorem ipsum dolor sit amet
								consectetur adipisicing elit. Accusamus, accusantium?</h2>
							<div class="card_header_right_detail">
								<strong class="strong">Feburary 19, 2023</strong>
								<span class="separate">-</span>
								<em class="em">1 min read</em>
							</div>
						</div>
					</div>
					<p class="card_content">
						<em class="em">Lorem, ipsum dolor sit amet</em> consectetur adipisicing elit. Quam sequi perspiciatis eius
						<strong class="strong">assumenda</strong>, atque cum
						neque aborum. Laborum, <u class="u">in fuga.</u>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dolor
						mollitia possimus in atque earum autem omnis iste illum magni deserunt? Lorem ipsum dolor sit amet
						consectetur adipisicing elit. Doloribus voluptate nihil impedit quisquam cumque. Perferendis sapiente quos
						sunt odio vero.
					</p>
					<button class="card_footer">
						<a href="/pages/blog_post.html" class="continue_reading">Continue Reading >></a>
					</button>
				</div>
				<div class="card_homepage">
					<div class="card_header">
						<img src="https://via.placeholder.com/150.webp/C5C5C5/FFFFFF/?text=Image" alt="card Image"
							class="card_image">
						<div class="card_header_right">
							<h2 class="card_header_right_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis,
								iste Lorem ipsum dolor sit amet
								consectetur adipisicing elit. Accusamus, accusantium?</h2>
							<div class="card_header_right_detail">
								<strong class="strong">Feburary 19, 2023</strong>
								<span class="separate">-</span>
								<em class="em">1 min read</em>
							</div>
						</div>
					</div>
					<p class="card_content">
						<em class="em">Lorem, ipsum dolor sit amet</em> consectetur adipisicing elit. Quam sequi perspiciatis eius
						<strong class="strong">assumenda</strong>, atque cum
						neque aborum. Laborum, <u class="u">in fuga.</u>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dolor
						mollitia possimus in atque earum autem omnis iste illum magni deserunt? Lorem ipsum dolor sit amet
						consectetur adipisicing elit. Doloribus voluptate nihil impedit quisquam cumque. Perferendis sapiente quos
						sunt odio vero.
					</p>
					<button class="card_footer">
						<a href="/pages/blog_post.html" class="continue_reading">Continue Reading >></a>
					</button>
				</div>
				<div class="card_homepage">
					<div class="card_header">
						<img src="https://via.placeholder.com/150.webp/C5C5C5/FFFFFF/?text=Image" alt="card Image"
							class="card_image">
						<div class="card_header_right">
							<h2 class="card_header_right_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis,
								iste Lorem ipsum dolor sit amet
								consectetur adipisicing elit. Accusamus, accusantium?</h2>
							<div class="card_header_right_detail">
								<strong class="strong">Feburary 19, 2023</strong>
								<span class="separate">-</span>
								<em class="em">1 min read</em>
							</div>
						</div>
					</div>
					<p class="card_content">
						<em class="em">Lorem, ipsum dolor sit amet</em> consectetur adipisicing elit. Quam sequi perspiciatis eius
						<strong class="strong">assumenda</strong>, atque cum
						neque aborum. Laborum, <u class="u">in fuga.</u>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dolor
						mollitia possimus in atque earum autem omnis iste illum magni deserunt? Lorem ipsum dolor sit amet
						consectetur adipisicing elit. Doloribus voluptate nihil impedit quisquam cumque. Perferendis sapiente quos
						sunt odio vero.
					</p>
					<button class="card_footer">
						<a href="/pages/blog_post.html" class="continue_reading">Continue Reading >></a>
					</button>
				</div>
			</div>

			<div class="main_homepage_sidebar" >
				<p class="newPost">New Post</p>
				<ul class="sidebar_post_list">
					<li><a href="#">Post Number 1</a></li>
					<li><a href="#">Post Number 2</a></li>
					<li><a href="#">Post Number 3</a></li>
					<li><a href="#">Post Number 4</a></li>
					<li><a href="#">Post Number 5</a></li>
					<li><a href="#">Post Number 6</a></li>
					<li><a href="#">Post Number 7</a></li>
				</ul>
			</div>
		</section>

	</main>
	<footer><span>Copyright 2023 by TruongDN2@fsoft.com.vn</span></footer>

</body>

</html>